<p style="color: green"><%= notice %></p>

<%= render @legal_form %><%=@testVar%>

<div>
  <%= link_to "Edit this legal form", edit_legal_form_path(@legal_form) %> |
  <%= link_to "Back to legal forms", legal_forms_path %>

  <%= button_to "Destroy this legal form", @legal_form, method: :delete %>
</div>
