<p style="color: green"><%= notice %></p>

<%= render @client_legal_form %>

<div>
  <%= link_to "Edit this client legal form", edit_client_legal_form_path(@client_legal_form) %> |
  <%= link_to "Back to client legal forms", client_legal_forms_path %>

  <%= button_to "Destroy this client legal form", @client_legal_form, method: :delete %>
</div>
