<div id="<%= dom_id client_data_entry %>">
  <h1>This will be the user form.  Don't confuse with the admin section </h1>
  <p>
    <strong>Client:</strong>
    <%= client_data_entry.client.last_name %>, <%= client_data_entry.client.first_name %>
  </p>
  <%= form_with model: @client_data_entry, url: "/client_data_entries/#{params[:id]}", method: "patch" do |f| %>
    <div class="w-3/5 bg-slate-300 text-slate-700 border border-slate-300 border-solid py-2 pl-2"><strong>Legal form:</strong> <%= client_data_entry.legal_form.name %></div>
    <div class="w-3/5 grid grid-cols-2 border border-slate-300 border-solid">
      <% bg_color = 'bg-slate-200' %>
      <%= f.fields_for :client_answers do |client_answer_form| %>

        <% bg_color = "bg-slate-50"# f.options[:child_index].even? ? "bg-slate-50" : "bg-slate-200"  %>
        <div class="py-2 pl-2 <%=bg_color %>"><%=client_answer_form.object.position %>) <%=client_answer_form.object.question %></div>

        <div class="py-2 pr-2 <%=bg_color %>">
          <% if client_answer_form.object.question_type === 'Text' %>
            <%= client_answer_form.text_field :answer %>
          <% elsif client_answer_form.object.question_type === 'Dropdown' %>
            <%= client_answer_form.select :answer, client_answer_form.object.options.split(',').unshift(['--Select--', 0]) %>
          <% elsif client_answer_form.object.question_type === 'SubForm' %>
            <div data-controller="subform">
              <button data-action="subform#addForm">Add <%=client_answer_form.object.legal_form.name %></button>
              <div data-subform-target="overlay" class="size-full bg-[rgba(0,0,0,0.7)] fixed top-0 left-0 hidden" data-action="click->subform#closeOverlay">
                <div data-subform-target="subformbody" class="w-4/5 min-h-52 bg-white mx-auto mt-5 p-10"></div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= f.submit %>
  <% end  %>
</div>

