<div id="<%= dom_id legal_form_question %>" class="text-red-400">
  <p>
    <strong>Question:</strong>
    <%= legal_form_question.question %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= legal_form_question.position %>
  </p>

  <p>
    <strong>Question Type:</strong>
    <%= legal_form_question.question_type %>
  </p>

  <p>
    <strong>Options:</strong>
    <%= legal_form_question.options %>
  </p>

  <p>
    <strong>Legal form:</strong>
    <%= legal_form_question.legal_form_id %>
  </p>

</div>
